.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameboardDiv {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.tile {
  width: 30px;
  height: 30px;
  color: black;
  border: 1px solid black;
}

#randomButton {
  width: 80px;
}
